body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(219, 219, 246);
}

.choices {
    margin-top: 15px;
    margin-bottom: 30px;
}

.choices button {
    font-size: 5rem;
    margin: 5px;
    border: none;
    border-radius: 50%;
    width: 120px;
    max-width: 300px;
    background-color: hsl(108, 40%, 45%);
    transition: background-color 0.5s ease;
}

.choices button:hover {
    background-color: hsl(108, 40%, 60%);
}

.player {
    margin-bottom: 17px;
}

#playerChoice, #computerChoice {
    font-size: 1.5rem;
}

#playerScore, #computerScore {
    font-weight: bold;
    font-style: italic;
    font-size: 1.3rem;
}

#resultGame {
    font-size: 3rem;
}

.container-score {
    margin-top: 35px;
}

.green {
    color: green;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}
